
body {
    margin: 0;
}

.container {
    position: absolute;
    z-index: 100;
    margin: 30px;
    display: flex;
    flex-direction: column;
    a {
        color: white;
    }

    .black {
        color: black;
    }
}