
body {
    margin: 0;
    background-color: rgb(160, 160, 160);
}

.container {
    position: absolute;
    z-index: 100;
    margin: 30px;
    display: flex;
    flex-direction: column;
    a {
        color: white;
    }

    .black {
        color: black;
    }
}

.home-container {
    justify-content: space-between;
    height: 300px;
}

canvas:active {
    cursor: grab;
}